/* This is a CSS code that defines the styling for a webpage. */
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  background-color: transparent;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}
.background {

  height: 100%;
  width: 100%;
  background-size: cover;
  box-shadow: 
  inset 0px 11px 8px -10px #000000,
  inset 0px -11px 8px -2px #010101; 
  position: absolute;
  background-image:  url("../assets/headbg.jpg");
  
}

body {
  background: #071d1a;
  width: 100%;
  height: 100% !important;
  overflow: hidden;
  overflow-y: scroll;
  
}
body::-webkit-scrollbar {
  width: 0.5vw; /* Chiều rộng của thanh cuộn */
}

body::-webkit-scrollbar-track {
  background-color: rgb(0, 0, 0); /* Đặt màu nền của track là trong suốt */
}

body::-webkit-scrollbar-thumb {
  border-radius: 2vw;
  background-color: #ffffff; /* Đặt màu cho thanh cuộn */
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #989bef; /* Đặt màu khi hover vào thanh cuộn */
}
.body {
  overflow-y: hidden;
  place-content: center;
  display: grid;
  width: 100% !important;

  grid-template-areas:
    "logo header"
    "container card"
    "container card"
    "button card"
    "des des"
    "intro intro"
    "boxfield boxfield"
    "feedback feedback"
    "gallery gallery"
    "member member"
    "sponsor sponsor"
    "footer footer"
    ;
  grid-template-columns: 2fr 2fr;
  max-width: 100vw;
}
h1 {
  color: #ffffff;
  font-weight: bolder;
  font-size: 3vw !important;
}
h1 strong {
  color: rgb(4, 141, 240);
}
.container {
  display: flex;
  grid-area: container;

}
.banner {
  display: flex;
  justify-content: center;
  align-items: center;

  width: auto;
  height: auto;
}
.banner img {
  margin-top: 2vw;
  width: 6.5vw;
  height: 6.5vw;
  position: absolute;
  transition: transform 0.3s ease-in-out;
}
@media screen and (min-width: 960px) {
  .camera {
    top: 2vw;
    left: -18vw;

    transform: rotate(-30deg);
  }
  .clapboard {
    transform: rotate(30deg);
    top: 2.5vw;
    left: -5vw;
  }
  .smartphone {
    transform: rotate(20deg);
    top: 2vw;
    left: 9vw;
  }
  .film-reel {
    top: 12vw;
    left: 2vw;
  }
  .video-camera {
    top: 11vw;
    left: -12vw;
  }
}
.banner img:hover {
  transform: scale(1.2);
}


.navbar {
  justify-content: flex-end;
  grid-area: nav;
  float: right;
  display: flex;
  z-index: 100;
  gap: 5vw;
  margin: auto 4vw;
}
.dynamic_nav {
  padding-left: 2vw;
  background-color: rgba(41, 17, 223, 0.15);  
  backdrop-filter: blur(4px);
  display: grid;
  grid-template-areas: 
  "logo1 nav";
  width: 100%;
  position: fixed;
  z-index: 1000000000;
}
.empty {
  height: 5rem;
  grid-area: header;
}
.logo {
  z-index: 100;
  width: 7vw;

  grid-area: logo1;
  transition: all 0.3s;
}
.logo:hover {
  transform: scale(1.1);
}
.navbar .nav-item {
  text-decoration: none;
  border: none;
  color: white;
  margin: auto 0;
  transition: all 0.3s;
  font-weight: 400;
  cursor: pointer;
  font-size: 1.2vw;

  vertical-align: flex-start;
}
.navbar .nav-item:hover {
  color: rgba(233, 231, 231, 0.397);
  background-color: none;
}

h2.title {
  z-index: -1;
  font-weight: 400;
  width: 40vw;
  color: rgb(255, 255, 255);
  line-height: 2.5vw;
  font-size: 1.8vw;
  left: 0%;
}
@media screen and (max-width: 960px) {
  .dynamic_nav {

    height: 10vw;
    gap: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .empty {
    height: 5vw;
  }
  
  .dynamic_nav .logo {
    width: 10vw;
    margin: 0;
  }
  

}
.container {
  height: 30vw;
  padding-top: 1vw;
  display: flex;
  flex-direction: column;
  z-index: 1;
  align-items: center;
  grid-area: container;
  margin-top: 3vw;
}

.icon {
  grid-area: container;
}
.icon img {
  width: 10%;
  height: 10%;
  margin: 30px;
  position: relative;
}

@keyframes anim {
  0%,
  100% {
    transform: translateY(calc(-50% - 5px)) scale(1);
  }

  50% {
    transform: translateY(calc(-50% - 5px)) scale(1.1);
  }
}
.description {
  background: linear-gradient(215.42deg, #071D19 43.33%, #004272 54.24%, rgba(16, 16, 17, 0) 66.17%);
  font-family: "Montserrat" !important;
  font-weight: 400;
  line-height: 2.5vw;
  padding: 5vw;
  background-color: transparent;
  color: rgb(255, 255, 255);
  grid-area: des;
  display: grid;
  gap: 0.5vw;
  grid-template-columns: 1.5fr 1fr 1fr;
  grid-template-areas:
    "who who who "
    "story story story"
    "res res res"
    "contenter contenter contenter"
    "img img img";
}
.description p {
  color: #b7b3b3;
  font-weight: 500;
}
.description h4 {
  line-height: 4vw;
  font-weight: 700;
  font-size: 1.5vw;

  color: white;
}
.description .article {
  
  font-size: 1.2vw;
  grid-area: contenter;
  display: flex;
  justify-content: space-around;
  transition: all 0.3s;
  line-height: 2.5vw;
}

.description .cardspan {
  border: 0.15vw solid #b7b3b3;
  transition: all 0.3s;
  background-color: #000000;
  margin: 3vw 1vw;
  height: 28vw;
  transition: all 0.3s;
}
.description .cardspan:hover {
  transform: scale(1.05) !important;
}
.description h3 {
  font-family: Montserrat;
  font-weight: bold;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1vw;
  font-size: 2vw;
}

.who {
  color: #ffffff;
  grid-area: who;
  font-weight: bolder;
  font-size: 4vw;
  padding-right: 0vw;
  margin: 2vw;
}
.bgp {
  transition: all 0.3s;
  border-radius: 2vw;
}

.imgblock {
  justify-content: center;
  padding: 2vw;
  margin: 0 auto;
  gap: 1vw;
  grid-area: img;
  display: flex;
  flex-wrap: wrap;

}

.description .img {
  border-radius: 2vw;
  object-fit: cover;
  height: 12vw;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border: 0.15vw solid #b7b3b3;
  transition: all 0.3s;
  margin: 0;
}
.imgblock img:hover {
  transform: scale(1.05);
  box-shadow: rgba(117, 124, 247, 0.538) 0px 0px 2vw;
}
.description .res {
  grid-area: res;
  color: #d6f460;
  font-weight: bolder;
  font-size: 4vw;
  padding-top: 2vw;
}

.memberintro {
  font-size: 4vw;
  font-weight: bolder;
  color: #d6f460;
  grid-area: intro;
  display: flex;
  justify-content: flex-start;
  margin: 5vw;
}

.brand {
  border-radius: 2vw;

  grid-area: sponsor;
  display: flex;
  flex-direction: column;
  margin: 4vw;
  transition: all 0.3s;
}

.local {
  width: 90vw;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 2vw;
  
}
.brand img {
  width: auto;
  height: 4vw;
  transition: all 0.3s;
}

.brand h1 {
  margin: 4vw 2vw 1vw 5vw;
  color: white;
}
.brand h4 {
  margin: 1vw;
  font-weight: 400;
  font-size: 1.4vw;
  color: white;
  transition: all 0.3s;
}
.brand p {
  color: #b7b3b3;
  line-height: 2.7vw;
  padding: 1vw 5vw;
  font-size: 1.5vw;
}
.brand-item {
  width: 15vw;
  display: flex;
  flex-direction: column;
  padding: 2vw;
  margin: 0 2vw;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}
.brand-item:hover {
  transform: scale(1.1);
  
}
.boxfield {

  background-color: #0000006f;
  margin-bottom: 10vw;
  padding: 1vw 3vw;
  font-family: 'Montserrat' !important;
  grid-area: boxfield;
  margin: auto auto;
  align-items: center;
  width: 100%;
  height: 52vw;
  display: grid;
  grid-template-areas: 
  "title tabpanel"
  "tab tabpanel" ;
}
.about {
  margin: auto 0 !important;
  width: 60vw;
  grid-area: tabpanel;
}
.boxfield h2 {
  color: white;
  font-size: 2vw;
}
.boxfield p {
  color: #b7b3b3;
  font-size: 1.2vw;
  margin: 1vw 0vw;
}
.boxfield h2 strong {
  color: rgb(138, 138, 238);
}
.tabtitle {
  
  padding-top: 3vw;
  grid-area: title;
}
.tabtitle h2 {
  font-size: 2.5vw;
}
.tabfield {
  grid-area: tab;
  width: 30vw;
  gap: 2vw;

  padding: 0;
}
.tabfield .tab {
  font-weight: 500;
  min-width: 30vw !important;
  margin: 0;
  justify-content: flex-start;
  display: flex;
  flex-direction: row;
  gap: 2vw;
  color: white;
  font-family: 'Montserrat';
  font-size: 2vw;
  margin: 0.8vw 0vw;
  transition: all 0.3s;
}
.tab img {
  width: 3vw;
  height: auto;
}
.feedback {
  display: flex;
  justify-content: center;

  grid-area: feedback;
  height: 30vw;
  background-color: #163759;
  padding: 2vw;
}
.people {
  justify-content: center;
  top: 10%;
  width: 40vw;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.person {
  height: 30vw;
  padding: 2vw;
  width: 40vw;
  display: flex !important;
  flex-direction: column;
  gap: 2vw;

}
.person img {
  border: 0.15vw solid white;
  border-radius: 50%;
  width: 5vw;
  height: auto;
}
.person q {
  font-size: 1.2vw;
  font-weight: 500;
  line-height: 2.2vw;
  color: white;
}
.person p strong {
  font-size: 1.2vw;
  font-weight: 500;
  color: #ffffff;
}
.person p {
  font-size: 1.2vw;
  margin: auto 0;
  color:rgba(233, 231, 231, 0.397)
}
.infor {
  display: flex;

  gap: 2vw;
}
.statistic {
  justify-content: center;
  margin: auto 0;
  margin-left: 10vw;
  display: flex;
  flex-wrap: wrap;
  gap: 5vw;
}
.statistic p {
  
  font-size: 1.5vw;
  color: white;
}
.statistic .amount {
  color: lightskyblue
}
.gallery {
  padding: 2vw;
  grid-area: gallery;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  gap: 2vw;
}
.gallery h1 {
  margin: 3vw;
}
.gallery_list {
  

  margin: 0 auto;
  height: 100%;
  width: 80vw;
}
.gallery_list img {
  transition: all 0.3s;
}
.gallery_list img:hover {
  filter:brightness(70%);
}
.itembar {
  color: white;
}
.gallery_list::-webkit-scrollbar {
  width: 0.5vw; /* Chiều rộng của thanh cuộn */
}

.gallery_list::-webkit-scrollbar-track {
  background-color: transparent; /* Đặt màu nền của track là trong suốt */
}

.gallery_list::-webkit-scrollbar-thumb {
  border-radius: 2vw;
  background-color: #ffffff; /* Đặt màu cho thanh cuộn */
}

.gallery_list::-webkit-scrollbar-thumb:hover {
  background-color: #989bef; /* Đặt màu khi hover vào thanh cuộn */
}
footer {
  padding: 7vw 7vw;
  height: 30vw; 
  margin-top: 10vw;
  background-color: rgb(49, 48, 48);
  grid-area: footer;
  display: grid;

  grid-template-areas: 
  "contact credit"
  "contact bot";
}
.contact {
  grid-area: contact;
  display: flex;
  flex-direction: column;

}
.contact h2 {
  margin: 0;
  margin-top: 2vw;
  font-size: 1.2vw;
  font-weight: 600;
  color: white;
  line-height: 2vw;
}
.contact h3 {
  margin: 0;
  font-weight: 300;
  color: rgb(214, 214, 214);
}
.contact p {
  line-height: 1.7vw;
  color: rgb(185, 177, 177);
  margin-top: 2vw;
}
.contact .logo {
  scale: 1.5;
  width: 4vw;
  height: auto;
  margin: 0;
  margin-left: 1vw;
}
.credit {
  grid-area: credit;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 5vw;
}
.credit section {
  display: flex;
  flex-direction: column;
  gap: 1vw;
}
.credit h3 {
  margin-bottom: 1vw;
  color: white;
}
.credit .link {
  color: rgb(185, 177, 177);
  transition: all 0.3s;
  
}
.credit .link:hover {
  color: rgba(233, 231, 231, 0.397);
}
.bottom_nav {
  margin: auto;
  justify-content: center;
  grid-area: bot;
  display: flex;
  gap: 4vw;
}

.bottom_nav img {
  
  width: 2vw;
  height: auto;
  filter: invert(1);
}
.apply {
  width: 100vw !important;

  display: flex;
  flex-direction: column;

}
.apply h1 {
  margin: 5vw ;
  text-align: center;
  width: 100;
}
.space {
  height: 5vw;
}
.joblist {
  justify-content: center;
  margin: 2vw 0vw;
  gap: 2vw;
  display: flex;
  flex-wrap: wrap;
}
.jobcard {
  background: #342E2E;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  gap: 1.5vw;
  height: 37vw;
  width: 22vw;
  transition: all 0.3s;
}
.jobcard:hover {
  transform: scale(1.05);
}
.jobcard img {
  border: 2px solid #000000;
  box-shadow: 7px 7px 4px rgba(0, 0, 0, 0.25);
  height: 12vw !important; 
  width: 22vw !important;
  object-fit: cover;
}
.jobcard h2 {
  margin: 0vw 2vw;
  color: white;
}
.jobcard p {
  text-align: justify;
  font-weight: 300;
  margin: 0vw 1.5vw;
  color: white;
}
.jobcard a {
  color: rgb(4, 141, 240);
  font-weight: 500;
  text-align: center;
  text-decoration: none;
}
@media screen and (max-width: 960px) {
  h1 {
    font-size: 5vw !important;
  }
  .body {
    height: 100% !important;
    
    display: grid;
    place-content: center;
    align-content: center;
    grid-template-areas:
      "logo logo"
      "header header"
      "container container"
      "card card"
      "button button"
      "input input"
      "des des"
      "intro intro"
      "boxfield boxfield"
      "gallery gallery"
      "feedback feedback"
      "member member"
      "sponsor sponsor"
      "footer footer"
      
  }
  h2.title {
    line-height: 5vw;
    font-size: 4vw;
    margin: 30vw 5vw 0 5vw;
    width: auto;
    align-items: center;
  }
  .navbar .nav-item {
    font-size: 2.2vw;
  }
  header {
    display: flex;
    justify-content: center;
  }
  .container {
    display: flex;
    justify-content: center !important;
  }
  .logo {
    margin:5vw 10vw;
    width: 10vw;
  }
  .banner {
    margin-top: 8vw;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;
  }
  .banner img {
    margin: 5vw 4vw 2vw 4vw;
    position: relative;
    scale: 1.6;
  }
  .camera {
    transform: rotate(-30deg);
  }
  .clapboard {
    transform: rotate(20deg);
  }
  .smartphone {
    transform: rotate(20deg);
  }

  .table-item {
    font-size: 4vw;
    line-height: 6vw;
  }
  .navbar {
    margin-top: 3vw;
  }
  .table {
    margin: 2vw;
  }
  .description {
    height: 100% !important;
    padding: 2vw;

    color: white;
    grid-area: des;
    display: flex;
    flex-direction: column;
    margin-top: 40vw;
    gap: 4vw;
  }
  .imgblock {
    
		width: auto !important;
    justify-content: center;
    margin: 0 auto;
  }
  .imgblock .img {
    height: 20vw;
  }
  .img7 {
    height: 33vw !important;
  }
  .description .article {
    width: 100%;
		justify-content: center;
    flex-wrap: wrap;
    position: relative;
    margin-top: 2vw;
    gap: 6vw;
  }
  .article .cardspan {
    flex-direction: column !important;
    width: 40vw;
    height: 68vw;
    line-height: 3vw;
    margin: 0;
  }
  .article img {
    width: 40vw;
    height: auto;
  }
  .description h4 {
    font-size: 3vw;
    width: 40vw;
  }
  .description p {
    font-size: 2vw;
  }
  .who,
  .res {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    font-size: 8vw;
  }
  .description .res {
    font-size: 8vw;
  }

  .brand-item h4 {
    font-size: 2.5vw;
  }
  .brand-item img {
    width: auto;
    height: 8vw;
  }
  .local {
    gap: 4vw;
    width: 70vw;  
  }
  .brand-item {
    width: 16vw;
  }
  .brand {
    width: auto;
  }
  .brand h1 {
      text-align: left;
      font-size: 4vw;
      color: white;
      margin: 3vw;
      margin-left: 5vw;
  }
  .brand p {
    font-size: 2vw;
  }
  .boxfield {
    place-content: center;
    justify-content: center;
    height: 100%;
    grid-template-areas: 
    "title title"
    "tab tab"
    "tabpanel tabpanel" ;
  }
  .tabfield {
    width: 100%;
  }
  .boxfield h2 {
    font-size: 5vw !important;
  }
  .boxfield p {
    font-size: 3vw;
  }
  .tabtitle {
    margin: 4vw;
  }
  .feedback {
    padding: 5vw 2vw;
    flex-direction: column;
    height: 75vw; 
  }
  .people {
    line-height: 3vw;
 
    margin: 0 auto;
    width: 90%;

  }
  .person {
    height: 50vw;
  }
  .person q {
    font-size: 3vw;
    line-height: 5vw;
  }
  .person img {
    width: 7vw;
  }
  .person p {
    font-size: 2vw;
  }
  .person p strong {
    font-size: 2vw;
  }
  .statistic {
    margin: 0 auto;
    width: 100%;
  }
  .statistic p {
    font-size: 2vw;
  }
  .gallery_list {
    width: 95vw;
    height: 100vw;
  }
  footer {
    display: flex;  
    gap: 5vw;
    flex-direction: column;
    height: 100vw;
  }
  .contact {
    gap: 3vw;
  }
  .contact .logo {
    margin-left: 5vw;
    width: 7vw;
  }
  .contact h2 {
    font-size: 3vw;
  }
  .contact h3, .contact p {
    font-size: 2vw;
  }
  .credit {
    margin: 0 auto;
    justify-content: center;
    gap: 10vw;
  }
  .bottom_nav {
    gap: 10vw;
  }
  .bottom_nav img {
    width: 5vw;
    height: auto;
  }
  .credit .link {
    font-size: 2vw;
  }
  .credit h3 {
    font-size: 2vw;
  }
  .description .cardspan {
    height: 70vw;
  }

}
