.startbutton {  
    margin-top: 2vw;
    padding: 0;
    grid-area: button;
    display: flex;
    left: 10%;
    position: relative;

    height: 7vw;
}
.btn {
    position: relative;
    width: 15vw;
    height: 3.7vw;
    font-weight: 400;
    background: rgba(255, 255, 255);
    border: 2px solid grey;
    color: rgb(0, 0, 0);
    border-radius: 0.5em;
    cursor: pointer;
    z-index: 1;
    overflow: hidden;

    font-size: 1.6vw;
    transition: all 0.5s;   
    
   }
.see {
    margin-left: 5.5vw;
    background: rgb(0, 0, 0);
    color: white;
}
.btn:hover {
    color: rgb(255, 255, 255);
}
   
.btn:after {

    content: "";
    background: rgb(115, 114, 114);
    position: absolute;
    z-index: -1;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.5s;
}

.see:after {
    background: rgb(115, 114, 114);
}
   
.btn:hover:after {
    transform: skewX(-45deg) scale(1, 1);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
.input-group {
    background-color: transparent !important;
    height: 3vw;
    z-index: 1;
    display: flex;
    margin-top: 1vw;
    background: rgb(0, 0, 0);
    color: white;

  }
  .input {
    height: 3vw;
    width: 20vw;
    padding: 0 1vw;
    color: #fff;
    font-size: 1.2vw;
    border: 0.1vw solid #ffffff;
    border-right: none;
    border-radius: 1vw 0 0 1vw;
    background-color: transparent;

  }
  
  .button--submit {
    height: 3vw;
    padding: 0vw 2vw;
    border: 0.1vw solid white;
    border-radius: 0 1vw 1vw 0;
    background-color: #5e4dcd;
    color: #fff;
    font-size: 1.2vw;
    cursor: pointer;
    transition: background-color .3s ease-in-out;
  }
  
  .button--submit:hover {
    background-color: #5e5dcd;
  }
  .button--submit:active {
    border-color: #3898EC;
  }
  .input:focus, .input:focus-visible {
    border-color: #3898EC;
    outline: none;
  }
  
@media screen and (max-width: 960px) {
    .btn {
        border: 0.3vw solid grey;
        left: auto;
        position: relative;
        width: 30vw;
        height: 8.5vw;
        font-size: 3vw;
    }
    .startbutton {  
        
        left: auto;
        top:  auto;
        grid-area: button;
        display: flex;
        justify-content: center;
    }
    .input-group {
      height: 7vw;

    }
    .input {
      font-size: 2vw;
      height: 7vw;
      width: 40vw;
    }
    .button--submit {
      font-size: 2vw;
      height: 7vw;
    }
}
