.login {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../assets/cozy.jpg');
    background-size: cover;
}
.form-container {
    margin-top: 5vw;
    width: 30vw;
    border: 0.15vw solid white;
    border-radius: 1.2vw;
    background-color: rgba(17, 24, 39, 0.384);
    backdrop-filter: blur(2px);
    padding: 2.4vw;
    color: rgba(243, 244, 246, 1);
  }
  
  .title {
    text-align: center;
    font-size: 2vw;
    line-height: 2.2vw;
    font-weight: 700;
  }
  
  .form {
    margin-top: 2vw;
  }
  
  .in-group {
    margin-top: 0.7vw;
    font-size: 1.1vw;
    line-height: 2.2vw;
  }
  
  .in-group label {
    display: block;
    color: rgba(156, 163, 175, 1);
    margin-bottom: 0.5vw;
  }
  
  .in-group input {
    width: 100%;
    border-radius: 0.7vw;
    border: 1px solid rgba(55, 65, 81, 1);
    outline: 0;
    background-color: rgba(17, 24, 39, 0.444);
    backdrop-filter: blur(2px);
    padding: 1vw 1.2vw;
    color: rgba(243, 244, 246, 1);
  }
  
  .in-group input:focus {
    border-color: rgba(167, 139, 250);
  }
  
  .forgot {
    display: flex;
    justify-content: flex-end;
    font-size:  2vw;
    line-height: 2vw;
    color: rgba(156, 163, 175,1);
    margin: 0.8vw 0 0.8vw 0;
  }
  
  .forgot a,.signup a {
    color: rgba(243, 244, 246, 1);
    text-decoration: none;
    font-size: 1.1vw;
  }
  
  .forgot a:hover, .signup a:hover {
    color: rgba(167, 139, 250, 1);
  }
  
  .sign {
    display: block;
    width: 100%;
    background-color: rgba(167, 139, 250, 1);
    padding: 1vw;
    text-align: center;
    color: rgba(17, 24, 39, 1);
    border: none;
    border-radius: 0.7vw;
    font-weight: 600;
    font-size: 1vw !important;
  }
  
  .social-message {
    display: flex;
    align-items: center;
    padding-top: 1.1vw;
  }
  
  .line {
    height: 1px;
    flex: 1 1 0%;
    background-color: rgba(55, 65, 81, 1);
  }
  
  .social-message .message {
    padding-left: 1vw;
    padding-right: 1vw;
    font-size: 1.1vw;
    line-height: 2vw;
    color: rgba(156, 163, 175, 1);
  }
  
  .social-icons {
    display: flex;
    justify-content: center;
  }
  
  .social-icons .icon {
    border-radius: 0.5vw;
    padding: 0.5vw 1vw;
    padding-bottom: 1.2vw;
    border: none;
    background-color: transparent;
    margin-left: 0.7vw;
    transition: all 0.3s;
  }
  .social-icons .icon:hover {
    transform: scale(1.2)
  }
  
  .social-icons .icon svg {
    height: 1.6vw;
    width: 1.6vw;
    fill: #fff;
  }
  
  .signup {
    text-align: center;
    font-size: 1.1vw;
    line-height: 1vw;
    color: rgba(156, 163, 175, 1);
  }
  @media screen and (max-width: 960px) {
    .form-container {
      scale: 1.1;
      width: 65vw;
    }
    .title {
      font-size: 6vw;
      line-height: 6vw;
      margin-top: 2vw;
    }
    
    .form {
      margin-top: 4vw;
    }
    
    .in-group {
      margin-top: 0.7vw;
      font-size: 3vw;
      line-height: 4vw;
    } 
    .in-group label {

      margin-bottom: 1vw;
    }
    .in-group input:focus {
      border-color: rgba(167, 139, 250);
    }
    
    .forgot {
      display: flex;
      justify-content: flex-end;
      font-size:  2vw;
      line-height: 5vw;
      color: rgba(156, 163, 175,1);
      margin: 0.8vw 0 0.8vw 0;
    }
    
    .forgot a,.signup a {
      color: rgba(243, 244, 246, 1);
      text-decoration: none;
      font-size: 3vw;
      line-height: 7vw;
    }
    
    .forgot a:hover, .signup a:hover {
      color: rgba(167, 139, 250, 1);
    }
    
    .sign {
      display: block;
      width: 100%;
      background-color: rgba(167, 139, 250, 1);
      padding: 1vw;
      text-align: center;
      color: rgba(17, 24, 39, 1);
      border: none;
      border-radius: 0.7vw;
      font-weight: 600;
      font-size: 3vw !important;
      padding: 0.5vw !important;
    }
    
    .social-message {
      display: flex;
      align-items: center;
      padding-top: 4vw;
    }
    
    .line {
      height: 1px;
      flex: 1 1 0%;
      background-color: rgba(55, 65, 81, 1);
    }
    
    .social-message .message {
      padding-left: 1vw;
      padding-right: 1vw;
      font-size: 3vw;
      line-height: 5vw;
      color: rgba(156, 163, 175, 1);
    }
    
    .social-icons {
      display: flex;
      justify-content: center;
    }
    
    .social-icons .icon {
      border-radius: 0.5vw;
      padding: 3vw 3vw;
      padding-bottom: 1.2vw;
      border: none;
      background-color: transparent;
      margin-left: 2vw;
      transition: all 0.3s;
    }
    .social-icons .icon:hover {
      transform: scale(1.2)
    }
    
    .social-icons .icon svg {
      height: 4vw;
      width: 4vw;
      fill: #fff;
    }
    
    .signup {
      text-align: center;
      font-size: 3vw;
      line-height: 6vw;
      color: rgba(156, 163, 175, 1);
    }
  }