.card {
    grid-area: card;
    background: transparent;
    display: flex;
    gap: 0.5vw;
    padding: .4em;
    width: 40vw;
    height: 30vw;
    right: 0;
    margin-left: 6vw;
    z-index: 1;
    margin-top: 4vw;
    transition: all .7s;
    margin-right: 1vw;  
  }

.card a{

    height: 25vw;
    flex: 1;
    overflow: hidden;
    cursor: pointer;
    border-radius: 1vw;
    transition: all .7s;
    background: #212121;
    border: 0.1vw solid #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; /* thêm thuộc tính position */
    background-position: center center;
    background-size: cover;
    text-decoration: none;
    font-family: "Comfortaa" !important;

}
.card a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: opacity 0.7s;
    z-index: 1;
  }
  
  .card :hover::before {
    opacity: 0;
  }
.card a:hover {
    flex: 3;
    display: flex;  
}

.card .card1 {
    background-image: url("./assets/Kim Junmyeon.jpg");
}
.card .card2 {
    background-image: url("./assets/filming.jpg");
}
.card .card3 {
    background-image: url("./assets/communication.jpg");
}
.card .card4 {
    background-image: url("./assets/programming3.jpg");
}
.card .card5 {
    background-image: url("./assets/cinematic.jpg");
}
.card a span {
    display: flex;
    flex-direction: column;
    min-width: 14em;
    padding: .5em;
    text-align: center;
    transform: rotate(-90deg);
    transition: all .5s;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 500;
    font-size: 1.8vw;
    letter-spacing: .1em;
    text-decoration: none;

}

.card a:hover span {
    transform: rotate(0);
    margin-top: 5vw;

}
@media screen and (max-width:960px) {
    .card {
        justify-content: center !important;
        margin: auto !important;
        margin-top: 7vw !important;
        width: 80vw;
        height: 60vw;
    }
    .card a span {
        font-size: 1.8vh;
    }
    .card a {
      height: 40vw;
    }
}
.about {
    overflow-x: scroll;
    overflow-y: hidden;
    width: 100%;
    gap: 0.5vw;
    grid-area: slide;
    display: flex;

    padding: 4vw;
    padding-top: 2vw;


}
.about::-webkit-scrollbar {

    height: 7px;
}

.about::-webkit-scrollbar-thumb {
    background: #ffffff00;
    width: 3vw;
    border-radius: 10px;
    border: 2vw solid white;
}
.about::-webkit-scrollbar-track {
    background-color: transparent;
}

.cardmain {
    flex-shrink: 0;
    border: 0.1vw solid rgb(255, 255, 255);
    font-family: 'Mulish';
    width: 18vw;
    height: 24vw;
    background: #17141d;
    padding: 2rem 1.5rem;
    transition: all 0.3s;
    box-shadow: -1rem 0 3rem #000;
 }
 
 .card-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
 }
 
 /*Image*/
 .card-avatar {
    --size: 6vw;
    background: linear-gradient(to top, #f1e1c1 0%, #fcbc97 100%);
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    transition: all 0.3s;
    margin-bottom: 1rem;
 }
 
 
 /*Card footer*/
 .card-social {
    transform: translateY(200%);
    display: flex;
    justify-content: space-around;
    width: 100%;
    opacity: 0;
    transition: all 0.3s;
 }
 
 .card-social__item {
    list-style: none;
 }
 
 .card-social__item img {
    filter: invert(1);
    display: block;
    height: 1.5vw;
    width: 1.5vw;
    fill: #515F65;
    cursor: pointer;
    transition: all 0.3s;
 }
 
 /*Text*/
 .card-title {
    color: #ffffff;
    font-size: 1.5vw;
    font-weight: 600;
    line-height: 4vw;
 }
 
 .card-subtitle {
    text-align: center;
    color: #7f7d7d;
    font-size: 1vw;
 }

 /*Hover*/
 .cardmain:hover {
    box-shadow: rgba(117, 124, 247, 0.538) 0px 0px 2vw;
    border: 0.2vw solid rgb(249, 202, 115); 
    transform: scale(1.1);
    margin: 0vw 2vw 0vw 2vw;
 }

 .cardmain:hover .card-info {
    transform: translateY(-5%);
 }

 
 .cardmain:hover .card-social {
    transform: translateY(100%);
    opacity: 1;
 }
 
 .card-social__item img:hover {
    fill: #232323;
    transform: scale(1.2);
 }
 
 .card-avatar:hover {
    transform: scale(1.1);
 }
  

@media screen and (max-width: 960px) {
    .memberintro {
        font-size: 7vw;
        padding: 2vw;
        display: flex;
        justify-content: center;
        margin: 5vw auto;
    }
    .about {
        overflow-x: scroll;
        overflow-y: hidden;
        width: 100vw;
        padding: 10vw 0vw;
    
    
    }
    .about::-webkit-scrollbar-thumb {
        background: #ffffff00;
        width: 3vw;
        border-radius: 10px;
    }
    .cardmain {
        width: 48vw;
        height: 60vw;

     }
     
     
     /*Image*/
     .card-avatar {
        --size: 15vw;
        background: linear-gradient(to top, #f1e1c1 0%, #fcbc97 100%);
        width: var(--size);
        height: var(--size);
        border-radius: 50%;
        transition: transform .2s ease;
        margin-bottom: 1rem;
     }
     .card-social__item img {
        filter: invert(1);
        display: block;
        height: 3vw;
        width: 3vw;
        fill: #515F65;
        cursor: pointer;
        transition: fill 0.2s ease ,transform 0.2s ease;
     }
     
     /*Text*/
     .card-title {
        color: #ffffff;
        font-size: 3.5vw;
        font-weight: 600;
        line-height: 8vw;
     }
     
     .card-subtitle {
        color: #7f7d7d;
        font-size: 2.5vw;
     }
     
     /*Hover*/
     .cardmain:hover {
        box-shadow: rgba(117, 124, 247, 0.538) 0px 0px 2vw;
        border: 0.2vw solid rgb(249, 202, 115); 
        transform: scale(1.2);
        margin: 0vw 4.8vw 0vw 4.8vw;
     }
    
     .cardmain:hover .card-info {
        transform: translateY(-5%);
     }
    
}
  
  
  
  
  
  