:root {
  --border: 3px;
  --color1: #6be89b;
  --color2: #0076a5;
  --from: 30deg;
  --distance: 46%;
}
.story {
  display: flex;
  flex-direction: column;
  grid-area: story;
  margin: 3vw;
}
.story section {
  margin: 2vw auto;
  display: flex;
  width: 100% !important;
  gap: 4vw;
  justify-content: center;
}
.border {
  position: relative;
  padding: 30px;
  transition: all 0.3s;
}
.border::after {
  content: "";
  border-radius: 999px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: conic-gradient(
    from var(--from),
    var(--color1),
    var(--color2) var(--distance),
    transparent var(--distance)
  );
  -webkit-mask: radial-gradient(
    farthest-side,
    transparent calc(100% - var(--border)),
    #fff calc(100% - var(--border) + 1px)
  );
  mask: radial-gradient(
    farthest-side,
    transparent calc(100% - var(--border)),
    #fff calc(100% - var(--border) + 1px)
  );
}
.story img {
  height: 25vw;
  width: 25vw;
  box-shadow: rgba(0, 0, 0, 0.538) 0px 0px 3vw;
  transition: all 0.3s;
}
.story img:hover,
.border:hover {
  transform: scale(1.1);
}

.story .girl {
  border-radius: 999px;
  display: block;
}
.story .boy {
  border-radius: 50%;
}
.story .stand {

  width: auto;
  box-shadow: none;
  margin: 3vw auto;
}
.story blockquote {
  justify-content: center;
  margin-top: 1vw;
  padding: 2vw;
  display: flex;
  flex-direction: column;
}
.story blockquote h3 {
  line-height: 3vw;
  font-size: 3vw;
  margin: 0 auto;
}
.story blockquote p {
  margin: 0 auto;
  font-size: 2vw;
  line-height: 3vw;
}
.big {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1vw !important;
  padding: 0;
  margin-top: 5vw;
}
.big p {
  text-align: center;
  width: 80vw;
}
.big blockquote {
  padding: 0;
}
@media screen and (max-width: 960px) {
  .story section {
    margin: 4vw auto;
  }
  .story blockquote h3 {
    font-size: 3vw;
    margin: 0 auto;
  }
  .story blockquote p {
    margin: 0 auto;
    font-size: 2vw;
    line-height: 3vw;
  }
}
